@import "tailwindcss";

/* src/index.css 좌측gnb 스크롤 지우는 코드임다 -동열- */
.nav-scroll-hide::-webkit-scrollbar {
  display: none;
}
.nav-scroll-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
